.point {
    cursor: url(https://unpkg.com/nes.css/assets/cursor-click.png), pointer;
} 

.cap {
    text-transform: capitalize;
}

.bothTag {
    margin: 0px;
    padding: 10px;
    width: 25%;
    text-transform: capitalize;
}

.mBtn {
   padding: 2%;
}

